#canvas{
background-image:url("../images/fondo.jpg");
background-repeat: no-repeat;
}

body{
  background-image:url("../images/body.png");
}
img.resize {
    width:100%; /* you can use % */
    height: 100%;
}

#contenedor{
	margin: auto;
	width: 140px;
	height: 100px;
}
.reloj{
	float: left;
	font-size: 25px;
	font-family: Courier,sans-serif;
	color: #363431;
}
