.bugs{
  margin-top: 210px;
  margin-left: 25%;
  width: 45px;
  height: 60px;
  position:absolute;
  background: url('../images/tinyBugs.png') left center;
  animation-name: quiet;
  animation-duration: .8s;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;

}

.taz{
  margin-top: 210px;
  margin-left: 45%;
  width: 60px;
  height: 60px;
  position:absolute;
  background: url('../images/taz.png') left center;
  animation-name: tazMove;
  animation-duration: .8s;
  animation-timing-function: steps(9);
  animation-iteration-count: infinite;


}
@keyframes jump {
  0%{background-position-x:0px; background-position-y:0px;}
  50%{transform:translate(0px,-100px);}
	100% { background-position-x:-445px; background-position-y:0px;}
}

@keyframes tazMove {
  0%{background-position-x:0px; background-position-y:0px;}
	100% { background-position-x:-559px; background-position-y:0px;}
}

@keyframes run {
  0%{background-position-x:-25px; background-position-y:-130px; }
	100% { background-position-x:-345px; background-position-y:-130px; }
}
@keyframes backMove {
  0%{background-position-x:0px; background-position-y:0px; }
	100% { background-position-x:-256px; background-position-y:0px; }
}

@keyframes quiet {
  0%{background-position-x:-25px; background-position-y:-525px; }
	100% { background-position-x:-325px; background-position-y:-525px; }
}


.contenedor{
  margin-top: 10%;
  width:auto;
  height: 260px;
  background-color: green;
  background-repeat: no-repeat;
}

.fondoLejano{
  background: url('../images/fondoLejano.png');

  animation-duration: 2.1s;
}
.fondoDelante{

  background: url('../images/fondoDelante-.png');

  animation-duration: 1.0s;

}



.fondoLejano, .fondoDelante{
    animation-name: none;
    width: auto;
    height:100%;
    background-repeat: repeat-x;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
