
body{
background-image: url("../images/madera.jpg");

}
@font-face {
  font-family: alice;
  src: url(../fonts/alice.ttf);
}
@font-face {
  font-family: striped;
  src: url(../fonts/striped.ttf);
}
h2{
  font-family:alice;
  font-size: 35px;
  text-align: center;

}
.filtros{
  text-align: center;
  font-size: 20px;
}

h2, .filtros{
  color:#AA3C39;
   text-shadow: 2px 2px #470402;
}

h1{
  font-family: striped;
  text-align: center;
  font-size: 100px;
  color:green;
  text-shadow: 2px 2px #470402;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
